@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --font-base: 'DM Sans', sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --lightbg-color: #ffffff;
  --success-color: #22bb33;
  --error-color: #bb2124;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: color 0.3s, background-color 0.3s;
}

body.dark {
  --primary-color: #1f2631;
  --secondary-color: #3bafca;
  --black-color: #ffffff;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --lightbg-color: #222a35;
}
